
@font-face {
    font-family: 'kerdenRegular';
    src: url('fonts/regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jrhandregular';
    src: url('fonts/jr!ha___-webfont.eot');
    src: url('fonts/jr!ha___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jr!ha___-webfont.woff') format('woff'),
         url('fonts/jr!ha___-webfont.ttf') format('truetype'),
         url('fonts/jr!ha___-webfont.svg#jrhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.select2-results__options::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  height: 4px;
}
.select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.kerdColorPick{
  color: transparent!important;
  width: 50px;
}



@font-face {
  font-family: "Avenir Next";
    src: url("fonts/ffd0dcc47a9002be89cc7f900d4e144f.eot");
    src:url("fonts/ffd0dcc47a9002be89cc7f900d4e144f.woff2") format("woff2"),
    url("fonts/ffd0dcc47a9002be89cc7f900d4e144f.woff") format("woff"),
    url("fonts/ffd0dcc47a9002be89cc7f900d4e144f.ttf") format("truetype");
}


@font-face {
  font-family: "Comic sans MS";
  src: url('fonts/ComicSansMSRegular.ttf') format("truetype");
}

/* HIDE spinners in number inputs*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.form-control[disabled]{
  background-color: white;
  color:black;
}

h1{
  font-family:"Avenir Next";
}

html{
  -webkit-font-smoothing: antialiased;
  font-weight: 600!important;
}

h2,h3,h4,h5,h6{
  font-weight: 600!important; 
}

/*SAFARI FONT CALIBRATION*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  html{  
    font-weight: 400!important;
  }

  h2,h3,h4,h5,h6{
    font-weight: 500!important; 
  }
}

/*hide video default button on ios*/
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}


/* SPIN */
@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

/*Blink*/
@keyframes blink{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes blink{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@-ms-keyframes blink{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@-moz-keyframes blink{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  visibility: visible;
}

/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
input[type="checkbox"]:not(:checked):before,
input[type="checkbox"]:checked:before {
  content: '';
  position: absolute;
  left:0; top: -2px;
  width: 17px; height: 17px; /* dim. de la case */
  border: 1px solid #aaa;
  background: #f8f8f8;
  visibility:visible;
  display: inline-block;
}
/* Aspect général de la coche */
input[type="checkbox"]:not(:checked):after,
input[type="checkbox"]:checked:after {
  content: "\f00c";
  font:normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 0px; left: 1px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s; /* on prévoit une animation */
  visibility: visible;
  display: block;
}
/* Aspect si "pas cochée" */
input[type="checkbox"]:not(:checked):after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
input[type="checkbox"]:checked:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

textarea:focus{
  -webkit-box-shadow: inset 0 1px 1px #a1fbbf,0 0 8px #a1fbbf !important;
  box-shadow: inset 0 1px 1px #a1fbbf,0 0 8px #a1fbbf !important;
}


.homepage-container{
  padding-left: 0px;
  padding-right: 0px;
}

.vTick{
  vertical-align: top;
}

.vTick ul{
  list-style-type: none;
}


.homepage-container .row{
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}


#loader{
  position:fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: wait;
  background-color: whitesmoke;
}

#loader .loader-logo{
  background-image: url('../images/kerden-logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 45%;
  left: 45%;
  width: 10%;
  height: 10%;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;

  -moz-animation-name: spin;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease;

  -ms-animation-name: spin;
  -ms-animation-duration: 1.5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease;

  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#loader .loader-caption{
  font-family: 'kerdenRegular';
  font-size: 2em;
  font-weight: bolder;
  position: fixed;
  top: 60%;
  left: 50%;
  transform:translateX(-50%);

  animation:blink 3s infinite ease;
  -webkit-animation:blink 3s infinite ease;
  -moz-animation:blink 3s infinite ease;
  -ms-animation:blink 3s infinite ease;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index:8;
  padding-top: 50px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
  padding-top: 55px;
}

.navbar-fixed-top{
  height: 50px;
  z-index: 10;
}

.navbar-collapse[aria-expanded=true]{
  background-color: white;
  overflow: visible;
}

.navbar-default{
  background-color: rgba(239,245,246,0.89);
}

.navbar-default .navbar-nav>li>a{
  color:black;
  font-family: 'kerdenRegular';
  
}

.navbar-fixed-top + .container {
  padding-top: 55px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > div > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.navbar-fixed-left .navbar-nav > li.divider{
	height: 1px;
	background-color: lightgrey;
	width: 88%;
	left:6%;
}

.navbar-fixed-left .navbar-nav > li > div > a.garden-menu-title{
	color:red;
}

.navbar-brand-top{
  font-family: 'kerdenRegular';
}

.navbar-brand-top .logo{
  background-image: url('../images/kerden-logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  background-color: transparent;
  padding:20px;
  display: inline;
}

.datepicker table tr td.today{
    background-color: #ffb733!important;
}

.rentCTA{
  margin-right: 60px;
  border:1px solid black;
  margin-top: 7px;
  padding-top: 7px!important;
  padding-bottom: 7px!important;
}

.ui-slider{
  height: 3px;
  background: none;
  background-color: #ccc;
  border: none;
}
.ui-slider-handle{
  background: none!important;
  background-color: #D9F8E2!important;
  border:1px solid #ccc!important;
  border-radius: 50%;
  top:-6px!important;
}
.ui-slider-handle:focus{
  outline:none!important;
}

.ui-slider-range{
  background: none;
  background-color: black;
}

.panel-kerden{
  background-color: #fafafa;
}

.panel-kerden .panel-heading{
  font-family: "Avenir Next";
  font-size: 2em;
}

.panel-kerden .panel-heading::after {
  content:'';
  display: block;
  position: relative;
  bottom: 0;
  left:15%;
  width: 70%;
  border-bottom: 2px solid lightgrey;
}


.btn-kerden-confirm{
  background-color: #98ecb1;
  border-radius: 0;
  font-size: 1.3em;
  color: black;
  font-family: "kerdenRegular";
}

.btn-kerden-cancel{
  border-color:#98ecb1;
  border-radius: 0;
  background-color: transparent;
  color: black;
  font-size: 1.3em;
  font-weight: inherit;
}

.btn-kerden-valid{
  background-color: white;
  border-color: #98ecb1;
  border-radius: 0px;
}

.kerdenModal{
  font-family: 'Avenir Next';
  font-size:1.2em;
  background-color: #eee;
}

.modal-dialog{
  min-width: 80%;
}

.modal-header{
  background-color: #F2FCF2;
  font-family: "Avenir Next";
  text-align: center;
}
.modal-footer{
background-color: #fff!important; 
}

#connexionModal .modal-dialog .modal-content{
  max-width: 700px;
  margin:auto;
}

#inscriptionModal .modal-dialog .modal-content{
  max-width: 700px;
  margin:auto;
}
.providerLink{
  max-width: 340px;
  margin: auto;
  display: block;
}
.providerLink:hover{
  text-decoration:none!important;
}
.provider{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  transition:all ease .4s;
  text-decoration:none;
}
.googleLogin{
  font-family: "Roboto";
  color: rgba(0,0,0,.54);
  background-color: white;
}

.googleLogin:active{
  transition:all ease .4s;
  background-color:rgba(0,0,0,.08);
}
.provider img{
  width: 50px;
  height: 50px;
  margin:8px;
}

.googleLogin span{
  left:7%;
  position: relative;
  font-size:1.4em;
}

.facebookLogin{
  font-family: "Tahoma","Verdana","sans-serif";
  color:#3b5998;
}

.facebookLogin span{
  left:7%;
  font-size: 1.3em;
  position: relative;
}

.facebookLogin:active{
  background-color: #3b5998;
}

.or{
  font-size: 2em;
  font-family: "Avenir Next";
  padding-top: 15px;
  padding-bottom: 15px;
}

.login-header h4{
  font-size: 2em!important;
}

.login-header{
  border-bottom: none;
  background-color: white!important;
}
.login-header:after{
  content:'';
  display: block;
  position: relative;
  bottom: 0;
  left:15%;
  width: 70%;
  border-bottom: 2px solid lightgrey;
}
.mailRegister img{
  width:60px!important;
  height: 40px!important;
}
.mailRegister span{
  position: relative;
  left: 7%;
  font-size: 1.3em;
}
.mailRegister{
  background-color: #F2FCF2;
}

.footerRow:before{
  
}

.footerRow{
  background-image:url('../images/motif_footer.jpg');
  background-size: auto 100%;
  z-index: 2;
  padding-top: 20px;
  margin-top: 20px;
  margin-right: 0;
  padding-bottom: 50px;
  padding-top: 50px;
}
.footerRow span{
  font-size: 22px;
  font-weight: bold;
  font-family: 'kerdenRegular';
}

.footerRow div a{
  font-family: 'Avenir Next';
  font-size: 20px;
  color: black;
}

#contactButton{
  display: inline;
}

.logoRow{
  padding-top: 20px;
}

.logoRow img{
  width: auto;
  height: 50px;
  object-fit:contain;
  margin-left: 8px;
  margin-right: 8px;
}

.logoRow:before{
  
}

.kerdenLogoRow:after{
  
}

.dropdown-menu{
  position: absolute;
  background-color: #fff!important;
  border: 1px solid #ccc !important;
  box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
}

.admin-dropdown-menu{
  top: inherit;
}

.dropdown-menu>li>a{
  color:black!important;
}

.dropdown-menu>li>a:hover{
  background-color: ##f5f5f5!important;
}

#searchFormContainer{
  padding-top: 50px;
}

.faqTitle{
  text-align: left;
  margin-left: 50px;
}

#faqBody{
  font-family: 'Avenir Next';
  
  min-height: 80vh;
}

#faqBody h4{
  color:navy;
}


#faqBody .nav-pills li{
  
}

#faqBody .nav li > a{
  color: black;
  font-size: 1.3em;
  
}

#faqBody .nav li.active > a{
  color: black;
  background-color: #F2FCF2;
}

#faqBody .nav-pills-stacked{
  margin-top: -100px;
}
#faqBody .nav-pills-stacked li{
  margin-top: 10px;
  margin-bottom: 10px;
}
#faqBody .nav-pills-stacked li.divider{
  position: absolute;
  top: 0;
  right: 0;
  border-right: 1px solid #eee;
  border-radius: 50%;
  height: 100%;
}

#faqBody .tab-pane > ul >li{
  margin-bottom: 20px;
  font-size: 1.3em;
}

#faqBody .tab-pane > ul >li>a{
  color: black;
}
#faqBody .tab-pane > ul >li> a:hover{
  text-decoration: none;
}
#faqBody .tab-pane > ul >li> a:focus{
  text-decoration: none;
}

#faqBody .tab-pane .faqCollapse{
  color: green;
  font-size: 0.8em;
}

.btn-welcome-search{
  font-size: 1.7em;
  font-family: 'kerdenRegular';
  margin-top: 30px;
}

.ligne2{
  margin-bottom: -20px;
}

.hiddenFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 8;
  -webkit-transform : translateY(100%);
  -moz-transform : translateY(100%);
  -ms-transform : translateY(100%);
  transform : translateY(100%);

  -webkit-transition: -webkit-transform 0.4s ease-in;
  -moz-transition: -moz-transform 0.4s ease-in;
  -ms-transition: -ms-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
}

.hiddenFooter.notSoHidden{
  -webkit-transform : translateY(0%);
  -moz-transform : translateY(0%);
  -ms-transform : translateY(0%);
  transform : translateY(0%); 
}

.hiddenFooter .down-arrow{
  top: -50px;
}
.hiddenFooter .up-arrow{
  font-size: 2.4em;
  top:-15px;
  left: 0;
  right: 0;
  margin: auto;
  bottom:initial;
}


.down-arrow{
  position: absolute;
  top: -26px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  font-family: "Avenir Next";
  font-size: 3em;
  background-color: rgba(215,215,255,.6);
  border-radius: 10px;
  width: 65px;
  text-align: center;
  border: 1px solid rgb(215,215,255);
  cursor: pointer;
}

.up-arrow{
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 9;
    font-family: "Avenir Next";
    font-size: 3em;
    background-color: rgba(255,203,139,.6);
    border-radius: 10px;
    border: 1px solid rgb(255,203,138);
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.homepage-caption{
  position: absolute!important;
  width: 100%;
  top:30px;
  color: white;
  font-family: 'kerdenRegular';
  padding-left: 15px;
}

.homepage-caption h1{
  font-family: 'kerdenRegular';
}

.homepage-caption h2{
  font-size: 18px;
}

.homepage-container .img-contain{
  /*max-height: 380px;*/
  /*overflow: hidden;*/
  height: 70vh;
  min-height: 330px;
}

.homepage-container .img-contain .carousel{
  height: 100%;
}

.homepage-container .img-contain .carousel-inner{
  /*min-height: 300px;*/
  /*max-height: 400px;*/
  height: 100%;
}

.homepage-container .img-contain .carousel-inner .item{
  height: 100%;
}

.homepage-container .img-contain .carousel-inner .item img{
  min-height: 330px;
  object-fit:fill;
  height: 100%;
  width: 100%;
  max-height: none;
}


.homepage-searchRow{
  position: absolute!important;
  width: 100%;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto!important;
  max-width: 1000px;
  font-family: 'kerdenRegular';
  height: 70px;
}
.homepage-searchRow div{
  padding:0px;
}

.homepage-searchRow .form-control{
  border-radius: 0px!important;
  -webkit-appearance: none;
  text-align: center;
  background-color: rgba(250,251,250,0.89);
  height: 50px;
  font-size: 20px;
}
.place-form-control{
  text-align: left!important;
}

.form-control:focus {
  outline-color:#a1fbbf;
  border-color:#a1fbbf;
}

.homepage-searchRow .select2-container{
  border-radius: 0px!important;
  -webkit-appearance: none;
  text-align: center;
  background-color: transparent;
}

.homepage-searchRow .select2-container .select2-selection{
  border-radius: 0px!important;
  height: 100%!important;
  background-color: rgba(250,251,250,0.89)!important;
  border-color:#ccc!important;
}

.homepage-searchRow .select2-container input{
  outline:none;
}
.homepage-searchRow .select2-container:focus{
  outline: none;
}

.homepage-searchRow .select2-container span:focus{
  outline:none; 
}
.homepage-searchRow .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 48px!important;
  font-size: 20px;
}

#select2-categorySelect-results  li{
  text-align: center;
}

#select2-categorySelect-results  li.select2-results__option--highlighted[aria-selected] {
  background-color: rgba(161,251,191,0.7)!important;
  color: black!important;
  text-align: center;
}

#select2-homeactivitySelect-results  li{
  text-align: center;
}

#select2-homeactivitySelect-results  li.select2-results__option--highlighted[aria-selected] {
  background-color: rgba(161,251,191,0.7)!important;
  color: black!important;
  text-align: center;
}
.select2-container--default .select2-results .select2-results__option[aria-selected=true]{
  background-color: white;
}

.btn-welcome{
  background-color: rgba(161,251,191,0.77);
  border-color: transparent;
  border-radius: 0px;
  color: white;
  transition: all ease .5s;
  font-size: 20px;
  height: 50px;
}
.btn-welcome:hover{
  background-color: rgba(161,251,191,0.77);
  border-color: grey;
  color: white;
}

.btn-geoloc{
  font-size: 1.7em;
  padding:8px!important;
  /*padding-top: 8px!important;
  padding-bottom:8px!important;
  padding-left: 6px!impo;
  padding-right: 6px*/
}

.homepage-grid-container{
  font-family: 'kerdenRegular';
}

.homepage-subRow{
  display: table;
  table-layout: fixed;
  width: 100%;
}

.homepage-subRow a div{
  overflow: hidden;
}

.homepage-subRow div img{
  -webkit-transition:all ease-out .4s;
  -ms-transition:all ease-out .4s;
  -moz-transition:all ease-out .4s;
  transition:all ease-out .4s;
}
.homepage-subRow div img:hover{
  -webkit-filter:brightness(150%);
  -moz-filter:brightness(150%);
  -ms-filter:brightness(150%);
  filter:brightness(150%);

  -webkit-transform:scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transform:scale(1.2,1.2);

  -webkit-transition:all ease-out .6s;
  -moz-transition:all ease-out .6s;
  -ms-transition:all ease-out .6s;
  transition:all ease-out .6s;
}

.homepage-subRow div{
  -webkit-transition:all ease-in .5s;
  -moz-transition:all ease-in .5s;
  -ms-transition:all ease-in .5s;
  transition:all ease-in .5s;
}

.homepage-subRow div.unloaded{
  -webkit-filter:blur(5px);
  -moz-filter:blur(5px);
  -ms-filter:blur(5px);
  filter:blur(5px);
}

.homepage-subRow div.unloaded-left{
  transform:translate(-10%,10%);
}
.homepage-subRow div.unloaded-right{
  transform:translate(10%,-10%);
}

.homepage-subRow div span{
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1.45em;
  text-align: center;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  pointer-events:none;
}

.partnairsLogoLine{
  background-color: white;
  box-shadow: 0px 3px 12px lightgrey;
  z-index: 3;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
}


.playerPlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  pointer-events:none;
  max-width: 20%;
}

.volume-icon{
  position: absolute;
  top: 10px;
  right: 28px;
  font-size: 1.7em;
  color:white;
}

.alert-black{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 3;
  margin-bottom: 0;
  border-radius: 0px;
}

.logoLine{
  height: 140px;
  margin-top: 7px;
}
.logoLine img{
  left: 0;
  right: 0;
  margin: auto;
}

.navbar-nav .mySelect{
  top: 43px;
  width: 146px;
}

.mySelect{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 3;
    top:34px;
    left: 0;
}

#homepageRentSelect{
  top: 43px;
  min-width: 145px;
}

.mySelect ul{
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.mySelect ul li{
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.mySelect ul li a{
  color: black;
}
.mySelect ul li a:hover{
  text-decoration: none;
  color: black;
}

.mySelect ul li:last-child{
  border-bottom: none;
  padding-bottom: 2px;
}

#col-search-ware-params .select2-container--default .select2-selection--multiple .select2-selection__choice{
  display: none;
}

#col-search-ware-params .select2-container--default .select2-selection--multiple .select2-selection__rendered:before{
  content:attr(data-number);
  position: relative;
  top: 5px;
  border: 1px solid green;
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  text-align: center;
}

.unactiveLabel{
  color:#ccc;
}

.panel-kerden-home{
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0px;
  border-left: 1px solid #ccc;
}

.panel-kerden-home .panel-heading{
  font-family: 'Avenir Next';
  font-size: 2em;
  padding-bottom: 0;
}

.panel-kerden-home .panel-body{
  font-family: 'Avenir Next';
  font-weight: normal;
  font-size: 1.1em;
  padding-top: 0;
}

.absoluteBottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.HomeLeftLink{
  padding-left: 30px;
}

ul#gardenList{
  padding:0;
  list-style-type: none;
}

.sortButton:hover,.sortButton:visited,.sortButton:focus{
  text-decoration: none;
}

#priceRow .ui-slider-handle:before{
  content: attr(data-price) ' €';
  font-size: 1em;
  top: -20px;
  text-align: center;
  width: 50px;
  left: -14px;
}

#price-slider{
    margin-top: 13px;
    margin-right: 10px;
}


#messageContent{
  border-color: #a1fbbe;
  border-bottom-right-radius: 45px!important;
  border-radius: 0;
  resize: none;
}

.messColLeft{
  border-right: 2px solid #ccc;
}
.massResaBtn{
  width: 100%;
  max-width: none!important;
  margin: 10px 0px!important;
  font-size: 1.3em;
  font-weight: bolder;
  color: black;
  background-color: #abfbc6;
  font-family: 'kerdenRegular';
  border-radius: 0!important;
}

.unreadNumber{
    background-color: white;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    left: -4px;
    border: 1px solid black;
}

.KerdenEvent{
  border-radius: 5px;
  background-color: #abfbc6;
  color: white;
  text-shadow:1px 1px 5px grey;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.KerdenEvent.danger{
  background-color: #bb0f0f;
  text-shadow:none;
}

.KerdenMessage .content{
  margin:0 15px 15px 15px;
  font-family: 'Avenir Next';
  font-weight: bolder;
  border:1px solid black;
  border-radius: 8px;
  padding: 15px;
}

.KerdenMessage .content::before{
  content: '';
  position: absolute;
  border: 0 solid transparent;
  border-bottom: 5px solid black;
  bottom: -4px;
  width: 12px;
  height: 12px;
}

.messageDivider hr{
  width: 75%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 12.5%;
}
.messageResaBloc{
  z-index: 1;
}


.messageResaBloc.affix{
  top:111px;

}

.KerdenMessage .date{
  font-weight: lighter;
}

.KerdenMessage.droite .date{
  padding-left: 0;
  text-indent: -15px;
}
.KerdenMessage.gauche .date{
  padding-right: 0px;
  margin-left: 15px;
}

.KerdenMessage.gauche .content::before{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 0px 20px 0px 20px;
  left: -12px;
}

.KerdenMessage.droite .content{
  float: right;
}

.KerdenMessage.droite .content::before{
  border-radius: 0px 0px 20px 0px;
  right: -12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.KerdenMessageGroup{
  margin:10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 11px;
  color: black!important;
  transition: all ease .4s;
}

.KerdenMessageGroup:hover{
  background-color: rgba(223, 252, 228, 0.38);
  transition: all ease .4s;
}

.KerdenMessageGroup .date{
  font-size: 1.2em;
  font-family: 'Avenir Next';
  font-weight: bold;
}

.KerdenMessageGroup .title{
  font-size: 1.3em;
  margin-top: 15px;
  font-family: 'Avenir Next';
  font-weight: bold;
}

.KerdenMessageGroup .statut{
  font-family: 'Avenir Next';
  font-weight: normal; 
  margin-top: 17px;
}

/*LIVE CHAT */
.adminChat{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.adminChatWindow{
  border: 1px solid #ccc;
  background-color: white;
  min-width: 340px;
  max-width: 340px;
  display: inline-block!important;
}

.liveChat{
  position: fixed;
  bottom: 0;
  right: 5px;
  border: 1px solid white;
  background-color: white;
  min-width: 300px;
  max-width: 300px;
  font-family: 'kerdenRegular';
  z-index: 9;
}

.liveChat .title,
.adminChatWindow .title{
  background-color: #fcf387;
  padding: 1px 12px;
  font-size: 1.6em;
  text-align: center;
  cursor: pointer;
}

.liveChat .logo,
.adminChatWindow .logo{
  background-image: url(../images/kerden-logo.svg);
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 4px;
}

.liveChat .liveExpandIcon,
.adminChatWindow .liveExpandIcon{
  float: right;
  margin-top: 9px;
  font-size: 14px;
}

.adminChatWindow #liveChatExpand,
.adminChatWindow #liveChatMinimize{
  float: right;
  margin-top:4px;
}

.liveChat #liveChatExpand,
.liveChat #liveChatMinimize{
  right: 4px;
  position: absolute;
  top: 7px;
  cursor: pointer;
}

.liveChat input{
  width: calc(100% - 84px);
}

.liveChat button{
  width: 80px;
}
.liveChat #liveChatMessagesList{
  max-height: 300px;
  overflow-x:hidden;
  overflow-y:auto;
}

.liveChat .content,
.adminChatWindow .content{
  background-color: #F9F9F9;
}

.liveChat ul,
.adminChatWindow ul{
  list-style:none ;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 30px;
}

.liveChat ul li,
.adminChatWindow ul li{
  margin-top: 15px;
}

.liveChat ul li:first-child,
.adminChatWindow ul li:first-child{
  margin-top: 0px;
}

.liveChat ul li .pseudo,
.adminChatWindow ul li .pseudo{
  color:grey;
  font-weight: bold;
  margin-left: -12px;
}

.liveChat ul li .pseudo:before,
.adminChatWindow ul li .pseudo:before{
  content: "-";
  position: relative;
  margin-right: 6px;
}

.liveChat ul li .admin:after,
.adminChatWindow ul li .admin:after{
  /*content:' - équipe Kerden';*/
  content: "";
}

.liveChat textarea,
.adminChatWindow textarea{
  resize:none;
  width: 90%;
  margin-left: 5%;
}

.liveChat button,
.adminChatWindow button{
  background-color: white;
  margin:8px;
  margin-left: 72%;
  outline: 2px solid #fcf387;
}

.liveChat #senderMail{
  width: 80%;
  margin-left: 10%;
}


.question-phone-logo{
  color: red;
  cursor: pointer;
  font-size: 1.3em;
}
.infosLocBody .control-label{
  text-align: left!important;
}

.cardPreviewMenu .mainLabel{
  font-family: 'Avenir Next';
  font-size: 2em;
  font-weight: initial;
}

.cardPreviewMenu .form-check{
  display: inline-block;
  margin: 10px;
}

.cardPreviewMenu .thumbnail{
  display: inline-block;
  cursor: pointer;
}

.cardPreviewMenu .thumbnail.active{
  border:1px solid #98ecb1;
}

.cardPreviewMenu .thumbnail input{
  display: none;
}

.cardPreviewMenu .thumbnail img{
  max-height: 70px;
  width: auto;
  border: 1px solid #eee;
}
.cardPreviewMenu .thumbnail span{
  display: block;
  font-family: 'kerdenRegular';
  text-align: center;
}

#cardPreview page{
  background: white;  
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

#addModal #compression{
  width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -15px;
    margin-left: -30px;
    background-color: white;
    z-index: 9;
    text-align: center;
}

/*PHONE*/
@media screen and (max-width: 320px){
  #searchFormContainer{
    padding-top: 0px;
  }
  .sub-logo{
    display: none;
  }

  .googleLogin span{
    font-size: 1.1em;
  }

  .facebookLogin span{
    font-size: 1.0em;
  }

}

@media screen and (max-width: 400px){
  #contactButton{
    display: none;
  }
}

@media screen and (max-width: 425px){
    #loader .loader-logo{
      top: 35%;
      left: 35%;
      width: 30%;
      height: 30%;
    }
    .btn-welcome-search{
      font-size: 1.3em;
    } 
}
@media screen and (max-width: 544px){
  .btn-welcome{
    margin-top: 22px;
  }
  .col-xs-4{
    margin-top: 11px;
  }
}
@media screen and (min-width: 544px) and (max-width: 767px){
  .homepage-searchRow .col-sm-2{
    width: 16.666667%;
  }
  .homepage-searchRow .col-xs-offset-2{
    margin-left: 0;
  }

  .homepage-searchRow .col-xs-offset-1{
    margin-left: 0;    
  }

  .homepage-searchRow .col-sm-3{
    width: 33.333333%;
  }

  .homepage-searchRow .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
  }
  .homepage-searchRow .form-control{
    font-size: 12px;
  }
  .homepage-searchRow .btn-welcome{
    font-size: 15px;
  }
  .homepage-container .img-contain{
    min-height: 330px!important;
    max-height: 380px!important;
  }
  .homepage-searchRow{
    top: 140px!important;
  }
}

@media screen and (max-width: 767px){
    .HomeLeftLink{
      padding-left: 0px;
    }
    .navbar-nav .mySelect{
      width: 100%;
    }

    .footerRow div a{
      font-size: 14px;
    }

    .footerRow span{
      font-size: 18px;
    }

    .homepage-subRow div img:hover{
      -webkit-transform:none;
      -moz-transform:none;
      -ms-transform:none;
      transform:none;

      -webkit-filter:none;
      -moz-filter:none;
      -ms-filter:none;
      filter:none;
    }

    .rentCTA{
      border: none;
    }
    .col-xs-1-et-demi{
      width: 12%;
    }

    #faqBody .nav-pills li{
      transform:none;
      left:0;
    }
    #faqBody .nav-pills-stacked{
      margin-top: 0;
    }
    #faqBody .nav-pills-stacked li{
      margin:0;
    }
    #faqBody .nav-pills-stacked li.divider{
      bottom: 0;
      height: 1px;
      width: 90%;
      top: initial;
      border-top: 1px solid #eee;
    }

    .homepage-container .img-contain{
      min-height: 530px;
    }

    .btn-search-inline{
      width: 100%;
    }

    .homepage-subRow{
      display: inline;
    }

    .homepage-scroller{
      overflow: scroll;
    }
    .homepage-scroller-inner{
      width: 2000px;
    }
    .homepage-caption{
      top:5px;
    }
    .homepage-searchRow{
      top: 180px;
    }

    .messageResaBloc{
      position: relative!important;
      top: 0!important;
      left: 0!important;
      width: 100%!important;
    }
    .messColLeft{
      border: none;
    }
}
@media screen and (min-width: 768px){
  .col-sm-offset-0-et-demi {
      margin-left: 4.16666666%;
  }
}