
.navbar-kerden-home{
	padding-top:49px;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.navbar-kerden-home .navbar-nav{
	float: left;
	margin: 0px;
	background-color: #a1fbbe;
	width: 100%;
}

.navbar-kerden-home .navbar-brand{
	
	padding-bottom: 0;
	color: black;
	font-family: 'kerdenRegular';
	background-color: #a1fbbe;
	
}
#home-navbar-collapse{
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-kerden-home .navbar-toggle{
	border-color:grey;
}
.navbar-kerden-home .navbar-toggle .icon-bar{
	background-color: grey;
}

.navbar-kerden-home + .container{
	padding-top: 115px!important;
	min-height: 89vh;
}
.navbar-kerden-home + .container-fluid{
	padding-top: 115px!important;
	min-height: 89vh;
}

.navbar-kerden-home>#home-navbar-collapse>.nav>li>a{
	display: block;
	width: 100%;
	color: black;
	padding:20px 23px;
	font-family: 'kerdenRegular';
	font-weight: bold;
}

.navbar-kerden-home>#home-navbar-collapse>.nav>li>a:hover,.navbar-kerden-home>#home-navbar-collapse>.nav>li>a.active{
	background-color: #cbf6d9;
}

.left-home-menu ul{
	list-style: none;
	padding-left: 0;
}

.left-home-menu ul a li{
	color: black;
	font-family: 'kerdenRegular';
	padding:10px 10px;
	width: 100%;
}

.left-home-menu ul a:hover{
	text-decoration: none;
}
.left-home-menu ul a li:hover{
	background-color: #cbf6d9;
}

.left-home-menu .active li{
	background-color: #a1fbbe;
}

.left-home-sub-menu{
	border-left: 2px solid #ccc;
}

.left-home-sub-menu ul li a{
	color: black;
	font-family: 'kerdenRegular';
}

.left-home-sub-menu ul li a span.badge{
	float: right;
	background-color: transparent;
	color: green;
	border: 1px solid black;
	margin-top: 4px;
}

.left-home-sub-menu ul li.active a{
	background-color: #a1fbbe;
}

.left-home-menu ul li.divider{
	height: 2px;
	border: 1px solid #bbb;
}


.resaPreview{
	background-color: #a1fbbe;
	padding: 17px;
	margin:15px;
	color: black;
	max-width: 420px;
}

.resaPreview a {
	color: black;
}

.resaPreview .rightArrow{
	float: right;
    font-size: 3em;
    margin-top: -15px;
    -webkit-transform: scale(0.8,2);
    -ms-transform: scale(0.8,2);
    -moz-transform: scale(0.8,2);
    transform: scale(0.8,2);
    margin-right: -4%;
}

.resaPreview .caption{
	font-size: 1.3em;
	margin-left: 0px;
	color: black;
}

.resaPreview .captionDate{
	font-size: 0.7em;
	float: right;
	margin-top: 8px;
}

.resaPreview .captionDate.countdown{
	font-size: 1em;
}

.resaPreview .sub-caption{
	display: block;
	font-size: 0.8em;
}

.resaPreviewLink{
	max-width: 420px;
}
.resaPreview a:hover{
	text-decoration: none;
}

.panel-kerden-home .panel-body .checkbox span.glyphicon{
	color:#bbb;
}

div[class^="kerden-back-button"]{
	background-image: url('../images/kerden-back-button.png');
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 35px;
	padding-left: 35px;
	font-size: 1.4em;
    font-weight: bold;
    padding-top: 4px;
    display: inline;
}

.gardenMenuCaption{
	background-color: #fafafa;
	padding: 10px;
}

.kerden-flat-btn{
	border: none;
    background-color: transparent;
    font-size: 1.5em;
    font-family: 'Avenir Next';
    color:black!important;
    font-weight: bold;
    -webkit-transition:all ease .4s;
    -moz-transition:all ease .4s;
    -ms-transition:all ease .4s;
    transition:all ease .4s;
}

.kerden-flat-btn:hover{
	background-color: #a1fbbe; /* For browsers that do not support gradients */
	-webkit-transition:all ease .4s;
    -moz-transition:all ease .4s;
    -ms-transition:all ease .4s;
    transition:all ease .4s;
}
.table>tbody>tr.info>td{
	background-color: #a1fbbe;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: #cbf6d9;
}

.kerden-page-2 h5{
	font-size: 2em;
}

/*large*/
@media screen and (min-width: 767px) {
	.navbar-kerden-home .navbar-brand{
		display: none;
	}
	.navbar-kerden-home>.nav>li{
		border-bottom: none;
	}
	.kerden-page-1{
		position: static;
	}
	div[class^="kerden-back-button"]{
		display: none;
	}
	.gardenMenuCaption{
		display: none;
	}
}

/*small*/
@media screen and (max-width: 767px) {
	.navbar-kerden-home + .container-fluid{
		overflow: hidden;
	}

	div[class*="kerden-page-"]{
		position: relative;
		width: 100%;
	}
	.kerden-page-1{
		left: 0;
	}
	.kerden-page-2{
		left: 100%;
		display: none;
	}
	.kerden-page-3{
		left: 100%;
		display: none;
	}
	.left-home-menu .active li{
		background-color: white;
	}
	.left-home-sub-menu ul li.active a{
		background-color: white;
	}

	.panel-kerden-home{
		border-left: none;
	}
	.left-home-sub-menu{
		border-left: none;
	}
	.calendarsRowBtns{
		margin-top: -35px;
	}
}