body{
  background-color: #fff;
}


#page1{
  width: 100%;
  height: 100%;
  background-image: url('../images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: fixed;
  top:0;
  left: 0;
  transition:all ease .8s;
}

.loading{
  width: 85%!important;
  height: 85%!important;
  left: 7.5%!important;
  top:7.5%!important;
}

@media (max-width: 768px){
  input{
    
  }
  select{
    margin-top:15px; 
  }
}
@keyframes bounce{
     from {transform:scale(0,0);}
     25%  {transform:scale(1.4,1.4);}
     50%  {transform:scale(0.7,0.7);}
     75%  {transform:scale(1.1,1.1);}
     to   {transform:scale(1,1);}
}

.center-main-logo{
  content:'';
  background-image: url('../images/kerden-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5%;
  height: 200px;
  width:154px;
}

.animated-logo{
  animation:bounce 1s ease;
}

.center-main-phrase{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:whitesmoke;
  font-size: 3em;
  text-shadow:9px 9px 9px black;
  margin-top:13%;
}

.sub-logo{
  font-family: 'jrhandregular', Arial, sans-serif;
	color:whitesmoke;
	text-shadow:9px 9px 9px black;
  font-size: 1.9em;
}

#homePage{
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar-fixed-top{
}

.tooltip-inner{
  background-color: white;
  color:red;
}

#page2{
  position: relative;
  background-color: transparent;
  
}

.row{
  position: relative;
  /*margin-left:0;
  margin-right: 0;*/
}

.introRow{
  padding-top: 50px;
  box-shadow: 0px 5px 12px  lightgray;
  z-index: 8;
  background-image: url('../images/bg1.jpg');
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;  
}

.partnairRow{
  background-color: rgba( 253, 253, 233,0.9);
  box-shadow: 0px 3px 12px lightgrey;
  z-index: 2;
}

.partnairRow h3{
  color:brown;
  padding-bottom: 30px;
}

.partnairRow h3:after{
  content:'';
  width: 80%;
  max-width: 230px;
  display: block;
  position: absolute;
  bottom: 20px;
  height: 6px;
  background:linear-gradient(to bottom, grey,transparent);
  left: 50%;
  transform:translateX(-50%);
}

.page2Left{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
}

.page2Left img{
  width: 100%;
  position: relative;
  left: 50%;
  transform:translateX(-50%);
}
.page2Right{
  float: right;
  padding:0!important;
}

.selectedPartnairs{
  background-color: #faf7ea;
}

.partnairBrand:after{
  content:'';
  display: block;
  width: 1px;
  background-color: grey;
  height: 150px;
  position: absolute;
  top: 30px;
  right: -15px;
}

.partnairBrandLogo img{
  width: 70%;
  position: relative;
  max-width: 250px;
  max-height: 180px;
  object-fit:contain;
  left: 50%;
  transform:translateX(-50%);
}

.partnairCaption{
  font-family: "Avenir Next";
  font-size: 3em;
  text-align: center;
  background-color: #faf7ea;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 7;
}
.partnairCaption hr{
  width: 70%;
  border-color:black;
}

.otherPartnairs{
  z-index:4!important;
  background-color: #faf7ea;
  margin-bottom: -30px;
}

.partnair{
  object-fit:contain;
}

.oscarPartnair{
  background-image: url('../images/oscar_intro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  z-index: 6;
  box-shadow: 0px 3px 12px lightgrey;
  max-width: 1024px;
  margin: auto;
}

.oscarDesc{
  float: right;
  background-color: rgba(250,250,250,.7);
  font-family: "Avenir Next";
  min-height: 250px;
}

.oscarDesc h4{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: 30px;
}
.oscarDesc p{
  font-size: 1.1em;
  margin-top: 40px;
  font-weight: 500;
}

.zoePartnair{
  background-image: url('../images/zoe_intro.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 3px 12px lightgrey;
  min-height: 250px;
  z-index: 5;
  max-width: 1024px;
  margin:auto;
}
.zoeDesc{
  background-color: rgba(250,250,250,.7);
  font-family: "Avenir Next";
  min-height: 250px;
}

.zoeDesc h4{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: 30px;
}

.zoeDesc p{
  font-size: 1.1em;
  margin-top: 40px;
  font-weight: 500;
}

.partnairSeparator{
  height: 25px;
  background-color: #faf7ea;
}



.playerPlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  pointer-events:none;
}

.volume-icon{
  position: absolute;
  top: 10px;
  right: 28px;
  font-size: 1.7em;
  color:white;
}

@media (max-width: 769px){
  .center-main-phrase{
    margin-top: 60px;
    font-size:2em;
  }
  .page2Right{
    float: left;
  }
  .partnairBrand{
    margin-bottom: 35px;
    padding-bottom: 35px;
  }

  .partnairBrand:after{
    bottom: 0;
    top:inherit;
    left: 15%;
    width: 70%;
    height: 1px;
  }
  .page2Left{
    position: relative;
    transform:none;
    margin-bottom:25px;
  }
  .page2Left img{
    width: 70%;
  }
}

.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}
.loader span{
  position: absolute;
  top: 50%;
  color: red;
  font-size: 5em;
}

.cookieAlert{
  position: absolute;
  top: 50px;
  width: 100%;
  cursor: pointer;
}
