
.picto {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter:invert(55%);
    -webkit-filter:invert(55%);
}

.blockPicto{
    display: block;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;   
    margin-left: 10px;
    margin-top: 15px;
}

.picto-all_day{
    background-image: url('../images/dispo/all_day.png');
}

.picto-morning{
    background-image: url('../images/dispo/morning.png');
}

.picto-day{
    background-image: url('../images/dispo/afternoon.png');
}

.picto-afternoon{
    background-image: url('../images/dispo/afternoon.png');
}

.picto-late_day{
    background-image: url('../images/dispo/all_day.png');
}

.picto-late_day-night{
    background-image: url('../images/dispo/all_day-night.png');
}

.picto-evening{
    background-image: url('../images/dispo/evening.png');
}

.picto-night{
    background-image: url('../images/dispo/night.png');
}

.picto-all_day-night{
    background-image: url('../images/dispo/all_day-night.png');   
}

.picto-evening-night{
    background-image: url('../images/dispo/evening-night.png');
}

.picto-barbecue{
    background-image: url('../images/activities/barbecue.png');   
}

.picto-reception{
    background-image: url('../images/activities/reception.png');   
}

.picto-party{
    background-image: url('../images/activities/party.png');   
}

.picto-pro{
    background-image: url('../images/activities/pro.png');   
}

.picto-lunch{
    background-image: url('../images/activities/lunch.png');   
}

.picto-relax{
    font-family: 'Glyphicons Halflings';
    font-size:27px;
    transform:translateY(-20%);
}
.picto-relax:before{
    content:"\e240";
    margin-left:5px;
}

.picto-children{
    font-family: 'Glyphicons Halflings';
    font-size:27px;
    transform:translateY(-20%);    
}
.picto-children:before{
    content:"\e232";
    margin-left:5px;
}

.picto-nightEvent{
    font-family: 'Glyphicons Halflings';
    font-size:27px;
    transform:translateY(-20%);    
}
.picto-nightEvent:before{
    content:"\e006";
    margin-left:5px;
}