.mainRow{
	background-color: #f9f7f8;
	margin-top: 24px;
	margin-bottom: -20px;
}

.mainRow h3{
	font-family: 'kerdenRegular';
}

.mainRow .leftCol{
	padding-top: 11px;
    padding-left: 95px;
    font-size: 1.05em;
    font-weight: 600;
}

/*CAS PARTICULIER SAFARI => font-weight: 500;*/
@media screen and(-webkit-min-device-pixel-ratio:0) {
	.mainRow .leftCol{
		font-weight: 500!important;
	}
}


.mainRow .leftCol ul{
	padding-left: 0px;
    margin-top: -15px;
    white-space: nowrap;
}

.mainRow .leftCol ul li{
	line-height: 2.4em;
}

.mainRow .leftCol .gMapPreview{
	margin-bottom: 30px;
}

.mainRow .resaBloc{
    max-width: 250px;
    left: 0;
    right: 0;
    margin: 35px auto;
}

.mainRow .resaBloc label{
	margin-left: 51px;
    margin-top: 10px;
    font-size: 0.8em;
}

.mainRow .resaBloc input{
	margin-left: 50px;
    max-width: 152px;
    border-radius: 0;
    border-color: #abfbc6;
}

.mainRow .guidelinesList{
	white-space: normal!important;
}

.mainRow .guidelinesList li{
	line-height: 1em!important;
	margin-bottom: 20px;
}

.mainRow .daySpan{
	min-width: 70px;
    display: inline-block;
}

.navbar + .container-fluid{
	padding-top:50px;
	font-family: 'Avenir Next';
}

.container-fluid h1{
	font-weight: 200;
}
.container-fluid h5{
	font-weight: 200;
}
.container-fluid ul{
	list-style: none;
}

.img-contain img{
	max-height: 480px;
	object-fit:contain;
	width: 100%;
}

.carousel-control{
	border-radius: 0!important;
	background:none!important;
}

.carousel-control .glyphicon{
	font-size: 2em!important;
}

.carousel-control:hover .glyphicon{
	color:grey!important;
	text-shadow: 0 0 1em grey,0 0 1.5em grey,0 0 2em grey,0 0 3em grey;
}


.zoomIcon{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 4em;
  color: white;
  opacity: 0;
  -webkit-transition : all ease 1.5s;
  -moz-transition : all ease 1.5s;
  -ms-transition : all ease 1.5s;
  transition : all ease 1.5s;
}
.zoomIcon i.fa{
  position: absolute;
  top: 50%;
  -webkit-transform:translate(-75%,-50%);
  -moz-transform:translate(-75%,-50%);
  -ms-transform:translate(-75%,-50%);
  transform:translate(-75%,-50%);
}

.visor-carousel .carousel-control.layout-landscape:hover{
	box-shadow: none!important;
}

.img-contain .item.active:hover .zoomIcon{
	opacity: 1;
}

.checkList{
	color:black;
}

.nonCheckList{
	color:grey;
}

.descContent{
	font-size:1.4em;
	margin-left: 45px;
}

.max_hour{
	color:grey;
	margin-left:60px;
}

.col-gauche{
	background-color: #F2FCF2;
	padding-top:13px;
	border-right: 50px solid;
    border-image: linear-gradient(to right, #F2FCF2, rgb(255,255,255 )) 1 100%;
}

.col-gauche .row:before{
	content:'';
	border-top:2px solid gray;
	width:90%;
	margin-left:10%;
	display: block;
}

.col-gauche .row{
	margin-bottom:30px; 
}

.col-gauche a{
	z-index: 3;
}

.col-droite{
}

.caption{
	margin-left: 30px;
	color: grey;
	font-size:2em;
	margin-top: 15px;
	margin-bottom: 10px;
}
.pictoLine{
	margin-left: 55px;
}
.pictoLine .picto{
	width: 35px;
	height: 35px;
	float: right;
	margin: 15px;
}

.backButton{
	background-color: #abfbc6;
	color: white;
	border-radius: 0px;
	margin-left: 5px;
	text-shadow: 1px 1px 3px lightgrey;
}

.backButton:hover{
	color: white;
}

.backButton.affix-top{
	position: absolute;
	top: 55px;
}

.backButton.affix{
	top:55px;
}

.resaBloc{
	font-family: "Avenir Next";	
	background-color: white;
	z-index: 3;
}
.resaBloc .priceRow{
	font-weight: bold;
	font-size: 0.9em;
    margin-left: 37px;
    margin-right: 33px;
    margin-top: 13px;
}

.resaBloc .priceRow span{
	float: right;
}

.resaBloc .priceRow .price{
	font-size: 1.3em;
}

.resaBloc .btn-kerden-full{
	width: 100%;
    max-width: none!important;
    margin: 10px 0px!important;
    font-size: 1.6em;
    font-weight: bolder;
    color: white;
    background-color: #abfbc6;
}

.resaBloc .has-error .form-control {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.resaBloc .has-error .form-control:focus {
    border-color: #abfbc6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #abfbc6;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #abfbc6;
}

.subscribeCTA{
	height: 208px;
    background-color: #f4e58c;
    border-bottom-left-radius: 29px;
    padding-top: 52px;
}

.subscribeCTA a{
	margin-left: 37%;
}
.subscribeCTA a .btn{
	margin-top: 30px;
}

#slider-guests{
	margin-top:12px;
}

.staffContent{
	margin-left: 45px;
}

.staffContent span{
	font-size:0.85em;
}



.dispoTable{
	border:1px solid grey;
	width:525px;
	height: 98px;
	position: relative;
}
.dispoTable>tbody>tr>td{
	border: none;
	min-width: 75px;
	max-width: 75px;
	width: 75px;
	text-align: center;
}

.dispoTable>tbody>tr>td:after{
	content:'';
	border: 1px solid grey;
	display: block;
    position: absolute;
    height: 75%;
    top: 12%;
    transform: translateX(-550%);
    -webkit-transform: translateX(-550%);
}

.dispoTable>tbody>tr>td:first-child:after{
	border:none!important;
}

.dispoTable>thead>tr>th{
	text-align: center;
	border:none;
	font-weight: 100;
	min-width: 75px;
	max-width: 75px;
	width: 75px;
	padding-bottom: 0;
}

.gardenware{
	border-left: 1px solid grey;
	font-weight: 200;
}

.oscarHelp{
	cursor: pointer;
	color:lightgray;
	padding-left:15px;
}
.oscarHelp:before{
	content: '';
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    width: 38px;
    height: 38px;
    transform: translateX(-12px);
    -webkit-transform: translateX(-12px);

}
.picto-all_day-night{
	width: 43px!important;
	height: 43px!important;
}
.picto-late_day-night{
	width: 43px!important;
	height: 43px!important;	
}

.noDispo{
	font-size:0.6em;
    width: 77px;
    background-color: #eee;
    height: 281%;
    padding-top: 61px;
    margin-left: -10px;
    margin-top: -36px;
}

.loadingAjax{
	position: absolute;
	width: 100%;
	max-width: 250px;
	height: 100%;
	z-index:10;
	background-color: rgba(200,200,200,0.9);
}

.loadingAjax img{
	width:100px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#dateError{
	color:red;
	font-weight: bold;
}

.ui-slider-handle:before{
	content: attr(data-hour);
	position: absolute;
	top:-19px;
	width: 35px;
	color:black;
}
#hoursRow .slider{
	margin-top: 18px;
	padding-left: 51px;
    padding-right: 44px;
}

.reportBtn{
	font-size: 0.4em;
	color: fireBrick;
	cursor:pointer;
}

.trickyList{
	margin-left: 70px!important;
}

.tripleList,.doubleList{
	width: 100%;
	float: left;
	margin-bottom: 26px;
}

.tripleList li{
	width: 31%;
	display: inline;
	float: left;
}
.tripleList li:nth-child(3n){
	margin-left: 30px;
}

.doubleList li{
	width: 50%;
	float: left;
	display: inline;
}

.resaBloc.affix{
	top: 16px;
    left: 60%;
    right: 15px;
}

/*PHONE*/
@media screen and (max-width: 320px){
	.img-contain img{
		max-height: 180px;
	}

	.container-fluid h1{
		padding-top: 15px;
	}

	.dispoTable{
		transform: translateX(-27%) scale(0.5,0.5);
		-webkit-transform:translateX(-27%) scale(0.5,0.5);
	}

	.pictoLine{
		margin: 0px!important;
	}

	.picto{
		float: left!important;
		margin:12px!important;
	}

	.gardenware{
		border:none;
	}

	.leftCol{
		padding-left: 11px!important;
	}
}

/* WIDE PHONE */
@media screen and (min-width:321px) and (max-width: 570px){
	.img-contain img{
		max-height: 220px;
	}

	.dispoTable{
		transform:scale(0.7,0.7) translateX(-21%) !important;
		-webkit-transform:scale(0.7,0.7) translateX(-21%) !important;
	}

	.pictoLine{
		margin: 0px!important;
	}

	.picto{
		float: left!important;
		margin:12px!important;
	}

	.gardenware{
		border:none;
	}
	.leftCol{
		padding-left: 11px!important;
	}
}

@media screen and (min-width:571px) and (max-width: 768px){
	.img-contain img{
		max-height: 380px;
	}

	.dispoTable{
		transform:scale(1,1) translateX(15%) !important;
		-webkit-transform:scale(1,1) translateX(15%) !important;
	}

}

@media screen and (min-width: 769px){
	.dispoTable{
		left:25%;
	}
}

@media screen and (max-width: 990px){
	.trickyList{
		margin-left: 0!important;
	    margin-top: -8px!important;
	}
	.tripleList li{
		width: 45%;
	}
	.tripleList li:nth-child(3n){
		margin-left: 0px;
	}
	.tripleList li:nth-child(2n){
		margin-left: 30px;
	}
	.mainRow .leftCol{
		padding-left: 20px;
	}
}	

@media screen and (max-width: 350px){
	.tripleList li{
		width: 100%;
		margin-left: 0px!important;
	}
}

@media screen and (max-width: 767px){
	.resaBloc.affix{
		position: relative;
		top: 0;
		left: 0;
	}
}





